.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 100px;
    background-color: #9ce1ac;
    height: 80px;
    box-shadow: 0 0 7px grey;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.header a:hover {
    text-decoration: underline;
}