.red {
    color: red;
    border: 2px solid red;
    background: linear-gradient(to right, rgba(152, 35, 35, 0.3) 1%, transparent 40%, transparent 60%, rgba(152, 35, 35, 0.3));
    box-shadow: inset 0 0 10px rgba(238, 18, 18, 0.6), 0 0 9px 3px rgba(152, 35, 35, 0.3);
}

.red:hover {
    color: red;
    box-shadow: inset 0 0 10px rgba(238, 18, 18, 0.6), 0 0 9px 3px rgba(152, 35, 35, 0.3);
}

button {
    --blue: rgb(36, 199, 255);
    font-size: 14px;
    padding: 0.5em 2em;
    margin: 5px;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.2em;
    border: 2px solid var(--blue);
    background: linear-gradient(to right, rgba(27, 178, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 178, 255, 0.1) 100%);
    color: var(--blue);
    box-shadow: inset 0 0 10px rgba(27, 178, 255, 0.4), 0 0 9px 3px rgba(27, 178, 255, 0.1);
}

button:hover {
    color: rgb(27, 178, 255);
    box-shadow: inset 0 0 10px rgba(27, 178, 255, 0.6), 0 0 9px 3px rgba(27, 178, 255, 0.2);
    transition-duration: 1s;
    background: rgba(54, 157, 218, 0.1);
}

button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 178, 255, 0.1) 40%, rgba(27, 178, 255, 0.1) 60%, transparent 100%);
}

button:hover:before {
    transform: translateX(15em);
}

button:disabled {
    padding: 0.5em 2em;
    margin: 5px;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.2em;
    border: 2px solid rgba(27, 178, 255, 0.4);
    background: linear-gradient(to right, rgba(27, 178, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 178, 255, 0.1) 100%);
    color: rgba(27, 178, 255, 0.2);
    box-shadow: inset 0 0 10px rgba(27, 178, 255, 0.4), 0 0 9px 3px rgba(27, 178, 255, 0.1);
}