.searchWrapper {
    width: 100%;
}

.searchInput {
    border-radius: 5px;
    border: 1px solid rgb(109, 106, 153, 0.8);
    outline: none;
    font-size: 16px;
    background-color: #ECECF9;
    color: rgba(0, 0, 0, 0.87);
    padding: 15px;
    width: 100%;
    height: 50px;
    margin: 10px auto 20px;
}

.searchInput:focus {
    border-color: #33b198;
}

::placeholder {
    color: rgb(109, 106, 153, 0.8);
}